.container {
  display: flex;
  max-width: 1440px;
  padding: 0px var(--spacing-4, 16px);
  flex-direction: column;
  align-items: center;
}

.barra {
  display: flex;
  width: 100%;
  max-width: var(--width-7xl, 1280px);
  justify-content: space-between;
  align-items: center;
  padding: 27px 0px;
}

.header {
  display: flex;
  gap: 16px;
}

.titleLink {
  text-decoration: none;
  color: #171717;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.navegate {
  display: flex;
  width: 192px;
  height: 36px;
  align-items: center;
  gap: 16px;
}

.button {
  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
  display: inline-flex;
  height: 36px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);

  color: var(--secondary-foreground, #262626);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.title {
  color: var(--foreground, #171717);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}
