.board-form {
  background-color: #ffc0cb;
  display: flex;
  width: 256px;
  height: 144px;
  padding: var(--spacing-4, 16px);

  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4, 16px);
  border-radius: var(--rounded-md, 6px);
  background: #e2e8f0;
}

.input-title-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2, 8px);
  align-self: stretch;
}

.input {
  display: flex;
  height: 40px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: #fff;
}

.label {
  color: #262626;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.button-form {
  display: flex;
  height: 36px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
  border-radius: var(--rounded-md, 6px);
  background: var(--primary, #6d28d9);
  color: var(--primary-foreground, #fff);

  /* text-sm/leading-5/medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.color {
  display: flex;
  align-items: center;
  gap: var(--spacing-2, 8px);
}

.color-title {
  color: #262626;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
