.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4, 16px);
}

.title {
  color: var(--foreground, #171717);

  /* text-2xl/leading-8/bold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.order {
  display: flex;
  width: 155px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2, 8px);
}

.label {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  color: var(--foreground, #171717);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}

.select {
  display: flex;
  height: 40px;
  padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;

  border-radius: var(--rounded-md, 6px);
  border: 1px solid var(--border, #d4d4d4);
  background: var(--background, #fff);
}
