.container {
  display: flex;
  /* Esto permite que el contenedor sea scrollable horizontalmente */
  width: 100%;
  gap: 32px; /* Ajusta el ancho al 100% del contenedor padre */
}

.display {
  display: flex;
  flex-direction: row; /* Asegura que las listas se apilen horizontalmente */
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.boardItem {
  margin-right: 10px; /* Espacio entre cada lista */
}

